<h1>Welcome</h1>
<%= link_to 'Top User', user_index_path() %><br/>
<%= link_to 'Top Product', product_index_path() %><br/>
<%= link_to 'Top Used Words', word_index_path() %><br/>
<%= link_to 'Translate Review', review_index_path() %>
